---
label: Find
---
<div class="dialogFind">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3">
    <label class="mdl-textfield__label" for="sample3">{{label}}</label>
  </div>
  <select class="ng-pristine">
    <option value="">All Documents</option>
    <option value="Image">Image</option>
    <option value="File">File</option>
  </select>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">{{label}}</button>
  <div style="clear:both;"></div>
</div>
