---
notes: |
  Table atom.
---
<div class="banner item w4">
  <div class="flexslider">
    <ul class="slides">
      <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">
        <img src="assets/toolkit/images/back-to-school.png" alt="back to school toolkit" draggable="false">
      </li>
      <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class=" ">
        <img src="assets/toolkit/images/Grade-3.jpg" alt="Grade 3 - Student Learning Assessment Pilot" draggable="false">
      </li>
    </ul>
    <ol class="flex-control-nav flex-control-paging">
      <li><a class="flex-active">1</a></li>
      <li><a class="">2</a></li>
    </ol>
    <ul class="flex-direction-nav">
      <li class="flex-nav-prev">
        <a class="flex-prev sliderPrev" href="#"><i class="material-icons">arrow_back</i></a>
      </li>
      <li class="flex-nav-next"><a class="flex-next sliderNext" href="#">
        <i class="material-icons">arrow_forward</i></a>
      </li>
    </ul>
  </div>
</div>
