<div  class="toolboxItem" >
  <div  class="toolbox-content ">
    <span class="toolbox-title  " style="font-weight: bold">
      <span class="tool"  title="Internal Link">
        <i class="material-icons " >contacts</i>
      </span>
      Contacts
    </span>
    <div class="toolbox-content toolbox-content-contact">
      <div class="toolbox-link-display">
        <div class="toolbox-link-title">
          <div class="toolbox-preview Preview1-18071">
            <span class="tool toolbox-icon">
              <i class="material-icons">perm_contact_calendar</i>
            </span>
            <a href="#" class=" ">Business Intelligence</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
