<div class="toolboxItem " >
  <div>
        <div class="toolbox-news">
            <span class="toolbox-title" style="font-weight: bold">
                <span class="tool" title="News">
                    <i class="material-icons" >assignment</i>
                </span>
                News
            </span>
              <a href="#" >
            <div class="toolbox-content toolbox-content-news">

                    <div class="toolbox-preview Preview1-18918" style="display: block;">
                        <div class="toolbox-news-details">
                            <span class="toolbox-news-headline ">
                                Bulletin Three - Priority
                              </span>
                            <div class="toolbox-news-description ">
                                Bulletin Three - Priority Bulletin Three - Priority Bulletin Three
                            </div>
                        </div>
                    </div>
            </div>
        </a>
        </div>
  </div>
</div>
