/* Container
 ------------------------------------------------------------- */
.card-checkbox {
  animation:cardEnter .75s ease-in-out .5s;
  animation-fill-mode: both;
  max-width: 350px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
  margin: 20px auto;
  opacity: 0;
}

/* Label Styles
 ---------------------- */
.control-group {

  margin: 25px 0;

  .control-label, .controls {
    display: inline-block;
  }
  .control-label {
    width: 250px;
  }
}





/* Input Styles
 ------------------------------------------------------------- */

input[type="checkbox"], input[type="radio"] {
  width: 18px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  border: none;
  cursor: pointer;
  margin-left: -25px;
  vertical-align: -4px;
  outline-width: 0;
  border-radius: 50%;

  &:focus{
    animation: press .8s 1;
  }

  &:before, &:after {
    content: "";
  }

  &:after {

    display: block;
    width: 14px;
    height: 14px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid #666;
    transition: 240ms;
  }

  &:disabled {
    &:after {
      border-color: #ddd;
      background-color: #eee;
      cursor: not-allowed;
    }

    &:checked {
      &:after {
        background-color: #eee;
        border-color: #ddd;
      }

      &:before {
        border-color: #999;
      }
    }
  }
}
input[type="checkbox"] {

  &:after {
    border-radius: 2px;
    background-color: #fff;
    z-index: 999;
  }

  &:checked{
    &:after {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 6px;
      display: table;
      width: 4px;
      height: 10px;
      border: 2px solid #fff;
      border-top-width: 0;
      border-left-width: 0;
      transform: rotate(45deg);
    }
  }
}

input[type="radio"] {

   &:before{
     position: absolute;
     left: 0;
     top: 0;
     background-color: $secondary-color;
     width: 18px;
     height: 18px;

     display: block;
     margin-top: -2px;
     border-radius: 50%;
     transition: 240ms;
     transform: scale(0);
   }

   &:after {
    border-radius: 50%;
  }

  &:checked{
    &:before {
        transform: scale(.5);
    }
    &:after {
      border-color: $secondary-color;
    }

    &:disabled{
      &:before{
        background-color: #ccc;
      }
    }
  }
}


@keyframes press {
  0% {
    box-shadow: 0 0 0 0 lighten($secondary-color, 10%);
  }

  50% {
     box-shadow: 0 0 0 15px rgba( lighten($secondary-color, 10%) , .4 );
  }

  100% {
    box-shadow: 0 0 0 15px rgba( lighten($secondary-color, 10%) , 0 );
  }
}
