.f-color-chips {
	display: flex;
	flex-wrap: wrap;
}

.f-color-chip {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 100%;
	border-top-width: 8em;
	border-top-style: solid;
	border-bottom-width: 0;
	border-bottom-style: solid;
	background-color: #fff;
	font-weight: 700;
	font-size: 0.75em;
	padding: 1em;
	margin-bottom: 2em;

	@media (min-width: 60em) {
		flex-basis: 13em;
	}

	.f-color-chip__color {
		background-color: #fff;
		content: attr(data-color);
		font-weight: 400;
	}
}

.white{
	color:$white !important;
}

$stone: #5f6a72;
$stone-dark: #35424a;
$stone-mid: #a5acb0;
$stone-light: #d1d4d3;


$prairie:#ebd700;
$prairie-dark: #554217;
$prairie-mid: #a47700;
$prairie-light: #ebce7b;


$dusk:#d40072;
$dusk-dark: #682145;
$dusk-mid: #a50069;
$dusk-light: #ef69b9;


$sky:#00aad2;
$sky-dark: #005072;
$sky-mid: #0081ab;
$sky-light: #5fceea;


$pasture:#77b800;
$pasture-dark: #545f1d;
$pasture-mid: #719500;
$pasture-light: #bed600;


$sunset:#ff7900;
$sunset-dark: #703319;
$sunset-mid: #c05017;
$sunset-light: #fdc688;


$primary-color: $stone-dark;
