/* Filter Styles
 ------------------------------------------------------------- */

.toggleFilter {
    padding:5px;
    color:#333;
    cursor:pointer;
    float:right
}
.filterClose #slideout.filterStick {
    left:-210px!important
}
.filterClose .toggleFilter span.filterTitle {
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg)
}
.filterClose .toggleFilter i {
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
}
.filterClose #slideout .toggleFilter i {
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg)
}
.toggleFilter i {
    border:1px solid;
    border-radius:4px
}
#click {
    right:0;
    position:relative;
    display:block!important;
    overflow:visible
}
span.filterTitle {
    display:none
}
.filterClose span.filterTitle {
    position:absolute;
    right:-197px;
    top:250px;
    padding-top:10px;
    overflow:visible;
    height:40px;
    display:inline-block;
    font-family:'Lato';
    font-size:16px;
    padding-right:400px
}

.onoffswitch{position:relative;width:60px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}
.onoffswitch-checkbox{display:none}
.onoffswitch-label{display:block;overflow:hidden;cursor:pointer;border:1px solid #adb9ca;border-radius:3px}
.onoffswitch-inner{display:block;width:200%;margin-left:-100%;transition:margin .3s ease-in 0}
.onoffswitch-inner:before,.onoffswitch-inner:after{display:block;float:left;width:50%;height:22px;padding:0;line-height:22px;font-size:11px;color:#fff;font-family:'Lato';font-weight:700;box-sizing:border-box}
.onoffswitch-inner:before{content:"ON";padding-left:5px;background-color:#f1f1f1;color:#8091a5}
.onoffswitch-inner:after{content:"OFF";padding-right:5px;background-color:#f1f1f1;color:#adb9ca;text-align:right}.onoffswitch-switch{display:block;width:25px;margin:3px;background:#a9b7c7;position:absolute;top:0;bottom:0;right:29px;border-radius:3px;transition:all .3s ease-in 0}.onoffswitch-checkbox:checked+.onoffswitch-label{border:1px solid #8091a5}.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner{margin-left:0}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch{right:0;background-color:#8091a5}
ul.categories li {
    width: 220px;
    margin: 2px 0;
    background: #f9fafb;
    border-radius: 3px;
    padding: 4px 2%;
}
ul, ol {
    font-size: 14px;
    line-height: 24px;
}
ul.categories {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.category-title {
    margin-left: 0;
    color: #8493a8;
    line-height: 14px;
    display: inline-block;
}



.toggleBtn .category-title {
    width: 110px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.categories .mdl-badge {
    margin-right: 20px;
    vertical-align: top;
}


@media screen and (max-height: 820px) and (min-width: 200px){
.filterCategories {
    height: calc(100% - 30vh);
}
}
@media screen and (max-height: 900px) and (min-width: 200px){
.filterCategories {
    height: calc(100% - 25vh);
}
}
.filterCategories, .filterPersona {

    width: 250px;
    font-size: 10px;
    overflow: auto;
}

.categories li.selected .mdl-badge[data-badge]:after {
    background: #8091a5;
}

.categories .mdl-badge[data-badge]:after {
    content: attr(data-badge);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    top: -3px;
    right: -15px;
    font-family: "Lato","Helvetica","Arial",sans-serif;
    font-weight: 700;
    font-size: 7px;
    width: 13px;
    height: 13px;
    color: #fff;
    border-radius: 50%;
    background: #a5b6c9;
    box-shadow: none;
}

.toggle {
    float: right;
}


.dd-selected{
    background-color: #00ADD8;
    color:white;
}

.persona-dd {
    margin-bottom: 20px;
}
.slide-out-div .languageItem {
    float: left;
}
.English {
    display: inline-block;
}

span.clear-filters a {
    font-size: 11px;
    padding-right: 10px;
    color: #c49c46;
}
span.clear-filters {
    display: inline-block;
    float: right;
}
.slide-out-div {
    padding: 0;
    height: 100%;
    display: block;
}
.toggleBtn {
    cursor: pointer;
}
#click {
    right: 0;
    position: relative;
    display: block!important;
    overflow: visible;
}




#slideout{
    z-index: 100;
    background: #fff;
}
#slideout.filterStick,
#journey.journeyStick {
    position:fixed;
    top:107px;
    z-index:999
}
#slideout.filterStick {
    z-index:100;
    background:#fff
}
#slideout.filterStick+div+article {
    margin-left:251px
}
.filterClose #journey.journeyStick {
    width:calc(100% - 45px)
}
.selected .toolbox-title {
    background:#fff;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff
}
.toolbox-title:hover {
    background:#f1f1f1
}
.selected .toolbox-title:hover {
    background:transparent
}
.selected .toolbox-internallinks .toolbox-title:hover {
    background:#54657e
}
#slideout.filterStick.sideSticky,
#journey.journeyStick.sideSticky {
    top:245px!important;
    transition:all .3s ease-in-out
}
.subContent.filterClose {
    width:calc(100% + 210px);
    left:-210px!important;
    transition:all .3s ease
}
.leftContent {
    clear:both;
    padding:10px;
    padding-top:20px;
    height:100%
}
