/* Footer Styles
 ------------------------------------------------------------- */

 .mini-footer {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     clear: both;
     -webkit-flex-flow: row wrap;
     -ms-flex-flow: row wrap;
     flex-flow: row wrap;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
     padding: 2px 17px;
     color: #fff;
     background-color: #36424a;
     height: 50px;
 }
.mini-footer:hover {
    opacity:1;
    transition:all .3s ease
}
.mini-footer ul{
  list-style: none;
}
.mini-footer .footer-logo img {
    max-width:120px
}
.mini-footer--left-section, .mini-footer__left-section {
    display: inline-block;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    margin-top: 4px;
}
.mini-footer .footer-logo {
    line-height:8px
}
.mini-footer .footer-logo img {
    vertical-align:middle
}
.mini-footer--right-section, .mini-footer__right-section {
    display: inline-block;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}
.mini-footer--link-list li, .mini-footer__link-list li {
    margin-bottom: 0;
    margin-right: 16px;
    line-height: 36px;
}
.mini-footer--link-list a,
.mini-footer__link-list a {
    color:inherit;
    text-decoration:none;
    font-size:.9em;
    white-space:nowrap;
    font-weight:500
}
.mini-footer--link-list, .mini-footer__link-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Footer Social
 ------------------------------------------------------------- */
 ul, ol {
     font-size: 14px;
     line-height: 24px;
 }
 ul.social-links {
     list-style: none;
     line-height: normal;
     padding: 0;
     display: flex;
     flex-flow: row;
     margin: 10px 0;
 }
 .social-links li {
     display: inline-block;
     line-height: 1;
     font-size: 16px;
 }
 .social-links a {
     //padding: 7px 5px;
     line-height: 1;
     height: 32px;
     width: 32px;
     margin-right: 6px;
     display: block;
 }
.social-links a:hover {
    background:#719500
}
.social-links i {
    text-align:center;
    color:#fff;
    width:21px;
    font-size:16px;
    padding: 6px;
}
.alberta-ca a {
    color: #fff;
    font-size: .9em;
    width: 100px;
    padding: 0 5px;
    text-align: center;
    line-height: 28px;
}
/* Footer Mobile
 ------------------------------------------------------------- */

.mobile-only {
    display:none!important
}
.mobile-only i {
    color:#fff!important
}
