.home .spacer {
    padding:35px
}
.home article {
    width:100%;
    padding:0
}
.home .masGrid {
    width:calc(78% - 1px);
    padding:1%;
    max-width:none;
    box-shadow:2px 0 0 0 #eee;
    border-right:1px solid #fff
}
.home .rightSidebar {
    width:18%;
    margin:1%
}
.home .card h1 {
    width:auto;
    float:none;
    padding:10px;
    color:#fff;
    text-align:center;
    padding-top:90px;
    font-size:1.6em;
    font-weight:600
}
.home-link-box {
    background-color:rgba(256,
    256,
    256,
    .8);
    width:78%;
    padding:4%;
    margin:0 auto;
    border-radius:10px;
    box-shadow:0 3px 10px -6px #000 inset
}
.home-link-box a {
    display:block;
    text-align:center;
    padding:4px 2px;
    margin:5px 0;
    border-bottom:2px solid transparent;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:500
}
.earlyChildhood .home-link-box a:hover {
    background:rgba(255,
    255,
    255,
    .5);
    border-radius:10px
}
.elementary .home-link-box a:hover {
    background:rgba(255,
    255,
    255,
    .5);
    border-radius:10px
}
.juniorHigh .home-link-box a:hover {
    background:rgba(255,
    255,
    255,
    .5);
    border-radius:10px
}
.highSchool .home-link-box a:hover {
    background:rgba(255,
    255,
    255,
    .5);
    border-radius:10px
}
.home .welcome,
.home .news {
    margin:15px
}







    .card.earlyChildhood {
        background:#ec098c;
        margin-left:30px
    }
    .card.earlyChildhood h1 {
        background:url(../images/early-childhood.png) no-repeat center 20px;
        background-size:30%
    }
    .card.elementary {
        background:#00afdc
    }
    .card.elementary h1 {
        background:url(../images/elementary.png) no-repeat center 20px;
        background-size:30%
    }
    .card.juniorHigh {
        background:#ffd400
    }
    .card.juniorHigh h1 {
        background:url(../images/juniorhigh.png) no-repeat center 20px;
        background-size:30%
    }
    .card.highSchool {
        background:#8cc63e;
        margin-left:30px
    }
    .card.highSchool h1 {
        background:url(../images/highschool.png) no-repeat center 20px;
        background-size:30%
    }
    .card.postSecondary {
        background:#d06f19
    }
    .card.postSecondary h1 {
        background:url(../images/ministry.png) no-repeat center 20px;
        background-size:15%
    }
    .card.administration {
        background:#69737b
    }
    .card.administration h1 {
        background:url(../images/school-system.png) no-repeat center 20px;
        background-size:15%
    }



    .masonry,
    .contain {
        max-width:1200px;
        margin:0 auto;
        padding:0;
        clear:both;
        position:relative
    }
    .masonry .item {
        width:370px;
        height:240px;
        float:left;
        margin:10px
    }
    .item.w1 {
        width:185px
    }
    .item.w3 {
        width:760px
    }
    .item.h2 {
        height:560px
    }
    .masonry.home .item {
        width:580px;
        height:380px;
        float:left;
        margin:1%;
        transition:all ease .1s
    }
    .masonry.home .item:hover {
        transform:translate3d(0,
        -2px,
        0);
        box-shadow:0 4px 4px rgba(0,
        0,
        0,
        .24),
        0 0 4px rgba(0,
        0,
        0,
        .12),
        0 6px 18px rgba(2,
        98,
        194,
        .12)
    }
    .masonry.home .item.card.postSecondary,
    .masonry.home .item.card.administration {
        height:160px;
        width:48%
    }
    .masonry.home .item.card.postSecondary .home-link-box,
    .masonry.home .item.card.administration .home-link-box {
        display:none
    }
    .home .item.w1 {
        width:23%
    }
    .home .item.w3 {
        width:31%
    }
    .home .item.w4 {
        width:98%
    }
    .home .banner.item.w4 {
        height:auto
    }
    .home .banner.item.w4:hover {
        transform:none;
        box-shadow:none
    }
    .home .item.h2 {
        height:600px
    }
    .filterClose .tileContent {
        width:24%
    }
    .tileContent {
        float:left;
        width:32%;
        margin:0 .5% 1%;
        position:relative;
        background-color:#fff;
        position:relative;
        height:229px;
        overflow:hidden;
        cursor:pointer;
        border-radius:0;
        box-shadow:0 2px 4px 0 rgba(0,
        0,
        0,
        .15)
    }
    #home.card { width:325px; height:380px;}
    #home-sm.card { width:615px; height:160px; max-width:800px;}
      #home.card h1, #home-sm.card h1 {
        width: auto;
float: none;
padding: 10px;
color: #fff;
text-align: center;
padding-top: 90px;
font-size: 22px;
font-weight: 600;
    }
    .card .subTopicList {
        width:110px;
        float:right;
        list-style:none;
        padding:10px
    }
    .card .subTopicList li {
        border-radius:3px;
        border:1px solid #fff;
        padding:5px;
        margin-bottom:2px;
        color:#fff;
        font-size:12px;
        text-align:center
    }
    .subContent .card {
        background:#fff
    }
    .card-topics {
        width:37%;
        float:left;
        background:#f9fafc;
        height:100%;
        border-radius:0;
        overflow:auto;
        text-align:right;
        padding-top:10px;
        box-shadow:5px -4px 0 -4px #ddd
    }
    .newsTile .card-topics {
        background:#e3edf1
    }
    .topic-content,
    a .topic-content {
        margin:8px 10px 10px;
        overflow:hidden;
        width:calc(63% - 21px);
        height:165px;
        float:left;
        font-size:1em;
        position:relative;
        line-height:21px;
        color:#5f6a72;
        font-weight:400
    }
    .newsTile .topic-content {}.topic-content p {
        font-size:1em;
        font-weight:400
    }
    .cardPreview {
        position:absolute;
        display:inline-block;
        overflow:hidden;
        height:50px;
        width:100%;
        left:1px;
        z-index:0;
        top:0;
        background-color:#fff
    }
    .newsTile .cardPreview {
        background-color:#f0fafc
    }
    .cardPreviewContainer {
        font-weight:700;
        font-size:15px;
        position:absolute;
        background:#f7f9fb;
        margin-top:3%;
        margin-left:3%;
        height:60%;
        width:84%;
        text-align:center;
        padding:5%;
        padding-top:10%;
        left:0;
        top:0
    }
    .linkCardPreview {
        padding-top:12%;
        padding-bottom:6%
    }
    .cardPreviewTitleRow {
        margin:0 auto;
        width:240px;
        text-align:center
    }
    .cardPreviewTitleContainer {
        display:inline-block;
        text-align:center;
        width:85%;
        white-space:nowrap
    }
    .cardPreviewIcon {
        display:inline-block;
        float:left;
        position:relative;
        width:15%
    }
    .cardPreviewImage {
        height:65px
    }
    .cardNewsPreview {
        position:absolute;
        display:inline-block;
        overflow:hidden;
        top:0;
        padding:2.5%;
        width:90%;
        height:100%;
        left:5px;
        background-color:#fff
    }
    .card .eventContentPreview {
        position:absolute;
        width:75px;
        height:75px;
        left:0;
        top:-30px;
        font-size:20px;
        text-align:center;
        font-weight:700;
        line-height:75px;
        background:url(/images/cal-event-bg.png) no-repeat center center
    }
    .card .eventMonthPreview {
        position:absolute;
        width:75px;
        height:75px;
        left:0;
        top:-30px;
        text-align:center;
        line-height:145px;
        font-size:14px;
        font-weight:700
    }
    .newsTile .cardNewsPreview {}.listDisplay .cardNewsPreview .cardPreviewTitle {
        margin-top:10%
    }
    .mediaContainer {
        position:absolute
    }
    .belowCardPreview {
        margin-top:113px
    }
    .listDisplay .belowCardPreview {
        padding-top:0
    }
    .leftCardArrow {
        float:left
    }
    .rightCardArrow {
        float:right
    }
    .previewContent {
        text-align:center;
        margin:auto
    }
    .cardPreviewTitle {
        overflow:hidden;
        font-weight:700;
        font-size:15px;
        text-overflow:ellipsis
    }
    .cardNewsPreview .cardPreviewTitle {
        text-align:left;
        white-space:normal;
        padding:5px;
        font-size:13px
    }
    .cardPreviewDescription {
        overflow:hidden;
        white-space:nowrap
    }
    .listDisplay .previewContent {
        width:500px;
        position:relative;
        float:left
    }
    .list-display-only {
        display:none
    }
    .card.earlyChildhood {
        background:#ec098c;
        margin-left:30px
    }



    .masonry.home .item.card.postSecondary, .masonry.home .item.card.administration {
        height: 160px;
        width: 48%;
    }
