
.select-wrapper{
  background: #fff;
  font-size: 15px;
  width: 40%;
  height: 200px;
}
li{
  cursor: pointer;
}

a{
  text-decoration: none;
  padding: 16px 10px;
  position: relative;
  display: block;
  color: #333;
}

.fa{
  float: right;
  margin: auto;
  line-height: inherit;
  opacity: 0.4;
}



.parent{
  margin: auto;

  color: #fff;
  height: 48px;
  width: 100%;
  box-shadow: 0 1px 0 0 #ccc;
      margin: -10px;
      padding:0;

  > li > a{
    z-index: 1;
  }

  > li:hover {
    > a{
      color: #00bcd4;
      background: #fff;
      span{
        display: none;
      }
      &:hover{
        color: #222;
        background: #ddd;
      }
    }
    ul {
      max-height: 99em;
      //transition: all 0.35s ease-in;
      box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
    }
  }
}

.child{
  padding: 47px 0 0 0; // Height of parent
  width: 100%;
  background: #fff;
  top: 0;
  max-height: 0;
  margin-top:-40px;
  //transition: all 0.25s ease-out;
  overflow: hidden;
  a:hover{
    background: #ddd;
  }
}
