---
notes: |
  Filter sidebar.
---
<div id="slideout" style="left: 0px;">
  <div id="containclickme">
    <div class="toggleFilter material-icons" id="click" ng-click="ToggleSideFilters()" style="display: none;">
      <i class="material-icons">chevron_left</i>
      <span class="filterTitle">FILTER</span>
    </div>
  </div>
  <div class="leftContent">
    <script>
      $(document).ready(function () {
        $('.dd-menu').click(function () {
            $(this).toggleClass("dd-open");
        });
      });
    </script>
    <div class="slide-out-div">
      <div class="persona-dd">
        <span class="languageItem English" style="display: block;">Personalize</span>
        <span class="languageItem French" style="display: none;">Personnaliser</span>
        <select class="personaList ng-pristine ng-untouched ng-valid" ng-model="searchFilter.Persona" ng-disabled="!filterToggle" ng-options="persona.Name as (persona.DisplayName + &quot; (&quot; + persona.Count  + &quot;)&quot;) for persona in personaList" ng-change="TogglePersona()">
          <option value="0" selected="selected" label="Everyone (6)">Everyone (6)</option>
          <option value="1" label="Parent (3)">Parent (3)</option>
          <option value="2" label="Student (1)">Student (1)</option>
          <option value="3" label="Teacher (1)">Teacher (1)</option>
          <option value="4" label="School Administrator (3)">School Administrator (3)</option>
        </select>
      </div>
      <span class="languageItem English" style="display: block;">Categories</span>
      <span class="languageItem French" style="display: none;">Catégories</span>
      <span class="clear-filters"><a href="javascript:void(0)" ng-click="ClearCategoryFilter()">clear filters</a></span>
      <div class="filterCategories">
        <ul class="categories">
          <li class="toggleBtn ng-scope">
            <span class="category-title ng-binding">
              Curriculum
            </span>
            {{> switches.toggle}}
          </li>
          <!-- end ngRepeat: category in categoryList -->
        </ul>
      </div>
    </div>
  </div>
</div>
